.card-container {
	display: flex;
	justify-content: center;
}
.carousel {
	height: 620px;
	/* width: 80%; */
	border-radius: 10px;
	display: flex;
	gap: 10px;
	overflow: hidden;
}

.carousel-img-main-container {
	width: 50%;
	height: 100%;
	background: green;
	transition: all 1s ease;
	overflow: hidden;
}
.carousel-img-folded-container {
	width: 10%;
	height: inherit;
	background-color: pink;
	overflow: hidden;
	transition: all 1s ease;
	cursor: pointer;
	filter: grayscale(100%);
}
.carousel-img-static-container {
	width: 5%;
	height: 100%;
	position: relative;
	filter: grayscale(100%);
}
.carousel-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
	display: block;
	cursor: pointer;
	transition: none;
}
.static-img {
	height: 100%;
	background-size: contain;
	background-position: center center;
	cursor: pointer;
}

.navigation-ribbon {
	height: 15px;
	margin: 8px 0px 16px 20px;
}
